<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit user</title>
</head>
<body>
<h1>Edit user</h1>
<form th:method="POST" th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div>
        <label>Roles:</label>
        <div th:each="role : ${roles}">
            <input type="checkbox" th:id="'role_' + ${role.id}" th:name="'roles'" th:value="${role.id}"
                   th:field="*{roles}"/>
            <label th:for="'role_' + ${role.id}" th:text="${role.name}">Role</label>
        </div>
    </div>
    <input type="submit" value="Save"/>
</form>
<a href="/admin">Back to Admin Page</a>
</body>
</html>
